{{> header}}

<div class="col-md-12">
    <h2>{{family}}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>{{strings.specie}}</th>
                <th>{{strings.reviewed}}</th>
                <th>{{strings.validated}}</th>
                <th>{{strings.total}}</th>
            </tr>
        </thead>
        <tbody>
            {{#species}}
            <tr>
                <td><a href="{{base}}/search?q=scientificName:'{{scientificName}}'">{{scientificName}}</a></td>
                <td>{{reviewed}}</td>
                <td>{{validated}}</td>
                <td>{{total}}</td>
            </tr>
            {{/species}}
        </tbody>
    </table>
</div>

{{> footer}}
