{{> header}}

<h2 class='col-md-12'>{{strings.search}}</h2>

<form action="{{base}}/search" class='col-md-12'>
    <fieldset>
        <p>
            <input class="form-control" type="text" name="query" placeholder="{{strings.search}}..." value="{{query}}">
        </p>
        <p>
            <button class="btn btn-primary" type="search"><span class='glyphicon glyphicon-search'></span> {{strings.search}}</button>
        </p>
    </fieldset>
</form>

<div class="col-md-12">
    <h3>{{strings.results}}</h3>
    {{^result}}
        <p>{{strings.no-result}}</p>
    {{/result}}

    <a name="map"></a>
    <div id="map"></div>

    <script type="text/javascript">
        var occurrences = [] ;
    </script>

    {{#result}}
        <a name="occ-{{occurrenceID}}-unit"></a>
        <script>
            occurrences.push({{{json}}});
        </script>
        <div id="occ-{{occurrenceID}}-unit" >
            {{> unit}}
        </div>
    {{/result}}

</div>

<link rel="stylesheet" href="{{base}}/css/leaflet.css" />
<link rel="stylesheet" href="{{base}}/css/MarkerCluster.css" />
<link rel="stylesheet" href="{{base}}/css/MarkerCluster.Default.css" />
<script type="text/javascript" src="{{base}}/js/leaflet.js"></script>
<script type="text/javascript" src="{{base}}/js/leaflet.markercluster.js"></script>
<script type="text/javascript" src='{{base}}/js/map.js'></script>

{{> footer}}
