
/* Map Search Result */

#map {
    height: 560px;
    overflow: hidden;
    border: 1px #ddd solid;
    border-radius: 3px;
}

.occurrence {
    margin-top: 10px;
    padding: 10px;
    font-size: 12px;
    line-height: 13px;
    border: 1px #ddd solid;
    display: table;
}

.occurrence { /* basic occurrence border */
    border-left: 4px #F89406 solid;
}

.validated { /* been validated but is invalid */
    border-left: 4px #DA4F49 solid;
}

.validated.valid { /* been validated and is valid */
    border-left: 4px #20AE54 solid;
}

.missing {
    font-weight: bold;
}

.alabel {
    margin-top: 6px;
    margin-bottom: 6px;
}

.alabel .label, .alabel.label{
    font-size: 16px;
    line-height: 20px;
    margin-right: 5px;
}

.alabel .label.small-label {
  font-size: 12px;
}

.validated .alabel{
    border-color: #DA4F49;
}

.validated.valid .alabel {
    border-color: #20AE54;
}

.form-group.input-group.col-md-6 .input-group-btn {
    padding-left: 27px;
}

.form-group.input-group.col-md-6 .input-group-btn button {
    height: 48px;
}


form>fieldset>.col-md-4:first-child {
  margin-right: 10px;
}
form>fieldset>.col-md-4:last-child {
  margin-left: 10px;
}


.validation-form .radio-inline input[type="radio"] {
  margin-top: -2px;
}

.leaflet-popup-content-wrapper {
  width: 500px;
}

.leaflet-popup-content {
  min-width: 460px;
  max-height: 220px;
  overflow-y: scroll;
}

.leaflet-popup-content table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}

.leaflet-popup-content table tr {
}

.leaflet-popup-content table tr td {
  padding: 8px;
  line-height: 1.42857;
  vertical-align: top;
  border-top: 1px solid #DDD;
  box-sizing: border-box;
}

.leaflet-popup-content table tr td:first-child {
  font-weight: bold;
}

.leaflet-popup-content table tr td:last-child {
}

.leaflet-control-draw-measure {
  background-image: url(../images/measure-control.png);
}

.leaflet-control.leaflet-control-mouseposition { 
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
  background: #FFF;
  border-radius: 5px;
  padding: 5px;
}

