{{> header}}

<div class="col-md-12">
    <h2>{{family}}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>{{strings.specie}}</th>
                <!--
                <th>{{strings.reviewed}}</th>
                <th>{{strings.validated}}</th>
                <th>{{strings.total}}</th>
                -->
            </tr>
        </thead>
        <tbody>
            {{#species}}
            <tr>
                <td><i><a href='{{base}}/specie/{{scientificNameWithoutAuthorship}}'>{{scientificNameWithoutAuthorship}}</a></i> {{scientificNameAuthorship}}</td>
                <!--
                <td>{{reviewed}}</td>
                <td>{{validated}}</td>
                <td>{{total}}</td>
                -->
            </tr>
            {{/species}}
        </tbody>
    </table>
</div>

{{> footer}}
