
    <div id="validate-{{occurrenceID2}}" class="modal fade validation-form" role='dialog'>
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="{{base}}/occurrences/{{id}}/validate">
                    <fieldset>
                        <input name="q" value="{{query}}" type="hidden" />
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3>
                                {{strings.edit-validation}}
                            </h3>
                        </div>
                        <div class='modal-body'>
                            <p class='form-group'>
                                <strong>{{strings.valid-taxonomy}}</strong>
                                <span class='glyphicon glyphicon-question-sign' data-toggle="tooltip" data-placement="top" title="{{strings.help-taxonomy}}" ></span>
                                <br />
                                <label class='radio-inline'>
                                    <input name="taxonomy" type="radio" value="valid" {{#taxonomy-valid}} checked {{/taxonomy-valid}} /> 
                                    {{strings.yes}}
                                    <span class='glyphicon glyphicon-ok-circle' data-toggle="tooltip" data-placement="top" title="{{strings.help-ok}}" ></span>
                                </label>
                                <label class='radio-inline'>
                                    <input name="taxonomy" type="radio" value="invalid"  {{#taxonomy-invalid}} checked {{/taxonomy-invalid}} /> 
                                    {{strings.no}}
                                    <span class='glyphicon glyphicon-remove-circle' data-toggle="tooltip" data-placement="top" title="{{strings.help-remove}}" ></span>
                                </label>
                                <label class='radio-inline'>
                                    <input name="taxonomy" type="radio" value="unknown"  {{#taxonomy-unknown}} checked {{/taxonomy-unknown}} /> 
                                    {{strings.unknown}}
                                    <span class='glyphicon glyphicon-remove-circle' data-toggle="tooltip" data-placement="top" title="{{strings.help-remove}}" ></span>
                                </label>
                            </p>
                            <p class='form-group'>
                                <strong>{{strings.valid-geo}}</strong>
                                <span class='glyphicon glyphicon-question-sign' data-toggle="tooltip" data-placement="top" title="{{strings.help-geo}}" ></span>
                                <br />
                                <label class='radio-inline'>
                                    <input name="georeference" type="radio" value="valid" {{#georeference-valid}} checked {{/georeference-valid}} /> 
                                    {{strings.yes}}
                                    <span class='glyphicon glyphicon-ok-circle' data-toggle="tooltip" data-placement="top" title="{{strings.help-ok}}" ></span>
                                </label>
                                <label class='radio-inline'>
                                    <input name="georeference" type="radio" value="invalid"  {{#georeference-invalid}} checked {{/georeference-invalid}} /> 
                                    {{strings.no}}
                                    <span class='glyphicon glyphicon-remove-circle' data-toggle="tooltip" data-placement="top" title="{{strings.help-remove-geo}}" ></span>
                                </label>
                                <label class='radio-inline'>
                                    <input name="georeference" type="radio" value="unknown"  {{#georeference-unknown}} checked {{/georeference-unknown}} /> 
                                    {{strings.unknown}}
                                    <span class='glyphicon glyphicon-remove-circle' data-toggle="tooltip" data-placement="top" title="{{strings.help-remove}}" ></span>
                                </label>
                            </p>
                            <p class='form-group' rel='valid'>
                                <strong>{{strings.valid-presence}}</strong>
                                <span class='glyphicon glyphicon-question-sign' data-toggle="tooltip" data-placement="top" title="{{strings.help-presence}}" ></span>
                                <br />
                                <label class='radio-inline'>
                                    <input name="presence" type="radio" value="present" {{#presence-present}} checked {{/presence-present}} /> 
                                    {{strings.yes}} ({{strings.present}})
                                    <span class='glyphicon glyphicon-ok-circle' data-toggle="tooltip" data-placement="top" title="{{strings.help-ok}}" ></span>
                                </label>
                                <label class='radio-inline'>
                                    <input name="presence" type="radio" value="absent" {{#presence-absent}} checked {{/presence-absent}} /> 
                                    {{strings.no}} ({{strings.absent}})
                                    <span class='glyphicon glyphicon-remove-circle' data-toggle="tooltip" data-placement="top" title="{{strings.help-remove-loc}}" ></span>
                                </label>
                                <label class='radio-inline'>
                                    <input name="presence" type="radio" value="unknown" {{#presence-unknown}} checked {{/presence-unknown}} /> 
                                    {{strings.unknown}}
                                    <span class='glyphicon glyphicon-ok-circle' data-toggle="tooltip" data-placement="top" title="{{strings.help-ok}}" ></span>
                                </label>
                            </p>
                            <p class='form-group' rel='valid'>
                                <strong>{{strings.valid-native}}</strong>
                                <span class='glyphicon glyphicon-question-sign' data-toggle="tooltip" data-placement="top" title="{{strings.help-native}}" ></span>
                                <br />
                                <label class='radio-inline'>
                                    <input name="native" type="radio" value="native" {{#native-native}} checked {{/native-native}} /> 
                                    {{strings.yes}} ({{strings.native}})
                                    <span class='glyphicon glyphicon-ok-circle' data-toggle="tooltip" data-placement="top" title="{{strings.help-ok}}" ></span>
                                </label>
                                <label class='radio-inline'>
                                    <input name="native" type="radio" value="non-native" {{#native-non-native}} checked {{/native-non-native}} /> 
                                    {{strings.no}} ({{strings.non-native}})
                                    <span class='glyphicon glyphicon-remove-circle' data-toggle="tooltip" data-placement="top" title="{{strings.help-remove-native}}" ></span>
                                </label>
                                <label class='radio-inline'>
                                    <input name="native" type="radio" value="unknown" {{#native-unknown}} checked {{/native-unknown}} /> 
                                    {{strings.unknown}}
                                    <span class='glyphicon glyphicon-ok-circle' data-toggle="tooltip" data-placement="top" title="{{strings.help-ok}}" ></span>
                                </label>
                            </p>
                            <p class='form-group' rel='valid'>
                                <strong>{{strings.valid-cultivated}}</strong>
                                <span class='glyphicon glyphicon-question-sign' data-toggle="tooltip" data-placement="top" title="{{strings.help-cultivated}}" ></span>
                                <br />
                                <label class='radio-inline'>
                                    <input name="cultivated" type="radio" value="yes" {{#cultivated-yes}} checked {{/cultivated-yes}} /> 
                                    {{strings.yes}}
                                    <span class='glyphicon glyphicon-remove-circle' data-toggle="tooltip" data-placement="top" title="{{strings.help-remove}}" ></span>
                                </label>
                                <label class='radio-inline'>
                                    <input name="cultivated" type="radio" value="no" {{#cultivated-no}} checked {{/cultivated-no}} /> 
                                    {{strings.no}}
                                    <span class='glyphicon glyphicon-ok-circle' data-toggle="tooltip" data-placement="top" title="{{strings.help-ok}}" ></span>
                                </label>
                                <label class='radio-inline'>
                                    <input name="cultivated" type="radio" value="unknown" {{#cultivated-unknown}} checked {{/cultivated-unknown}} /> 
                                    {{strings.unknown}}
                                    <span class='glyphicon glyphicon-ok-circle' data-toggle="tooltip" data-placement="top" title="{{strings.help-ok}}" ></span>
                                </label>
                            </p>
                            <p class='form-group' rel='valid'>
                                <strong>{{strings.valid-duplicated}}</strong>
                                <span class='glyphicon glyphicon-question-sign' data-toggle="tooltip" data-placement="top" title="{{strings.help-duplicated}}" ></span>
                                <br />
                                <label class='radio-inline'>
                                    <input name="duplicated" type="radio" value="yes" {{#duplicated-yes}} checked {{/duplicated-yes}} /> 
                                    {{strings.yes}}
                                    <span class='glyphicon glyphicon-remove-circle' data-toggle="tooltip" data-placement="top" title="{{strings.help-remove-dup}}" ></span>
                                </label>
                                <label class='radio-inline'>
                                    <input name="duplicated" type="radio" value="no" {{#duplicated-no}} checked {{/duplicated-no}} /> 
                                    {{strings.no}}
                                    <span class='glyphicon glyphicon-ok-circle' data-toggle="tooltip" data-placement="top" title="{{strings.help-ok}}" ></span>
                                </label>
                                <label class='radio-inline'>
                                    <input name="duplicated" type="radio" value="unknown" {{#duplicated-unknown}} checked {{/duplicated-unknown}} /> 
                                    {{strings.unknown}}
                                    <span class='glyphicon glyphicon-ok-circle' data-toggle="tooltip" data-placement="top" title="{{strings.help-ok}}" ></span>
                                </label>
                            </p>
                            <p class="form-group">
                                <label for="comment">{{strings.valid-comments}}</label>
                                <textarea name="comment" class='form-control'>{{validation.remarks}}</textarea>
                            </p>
                        </div>
                        <div class='modal-footer'>
                            <button class="btn btn-success" type='submit'>{{strings.save}}</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
