{{> header}}


{{^logged}}
<h2 class="col-md-12">{{strings.must-login}}</h2>
{{/logged}}

{{#logged}}

<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th>{{strings.family}}</th>
                <th>{{strings.specie}}</th>
                <th>{{strings.reviewed}}</th>
                <th>{{strings.validated}}</th>
                <th>{{strings.not-reviewed}}</th>
                <th>{{strings.not-validated}}</th>
                <th>{{strings.total}}</th>
            </tr>
        </thead>
        <tbody>
            {{#species}}
            <tr>
                <td>{{family}}</td>
                <td><a href="{{base}}/specie/{{scientificName}}">{{scientificName}}</a></td>
                <td>
                    <a href="{{base}}/specie/{{scientificName}}/reviewed">
                        {{reviewed}}
                    </a>
                </td>
                </td>
                <td>
                    <a href="{{base}}/specie/{{scientificName}}/validated">
                    {{validated}}
                </td>
                <td>
                    <a href="{{base}}/specie/{{scientificName}}/not_reviewed">
                    {{not_reviewed}}
                </td>
                <td>
                    <a href="{{base}}/specie/{{scientificName}}/not_validated">
                    {{not_validated}}
                </td>
                <td>
                    <a href="{{base}}/specie/{{scientificName}}">
                    {{total}}
                    </a>
                </td>
            </tr>
            {{/species}}
        </tbody>
    </table>
</div>
{{/logged}}



{{> footer}}
