{{> header}}

<div class="col-md-12">
    <h2>{{family}}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>{{strings.specie}}</th>
            </tr>
        </thead>
        <tbody>
            {{#species}}
            <tr>
                <td>
                  {{#permission}}<strong><span class='glyphicon glyphicon-chevron-right'></span>{{/permission}}
                    <i><a href='{{base}}/{{db}}/specie/{{scientificNameWithoutAuthorship}}'>{{scientificNameWithoutAuthorship}}</a></i>
                  {{#permission}}</strong>{{/permission}}
                  {{scientificNameAuthorship}}</td>
            </tr>
            {{/species}}
        </tbody>
    </table>
</div>

{{> footer}}
