
      <div class='col-md-4'>
        <div class="form-group">
          <label for="collectionCode">{{strings.collectionCode}} &amp; {{strings.catalogNumber}}</label>
          <div class='row'>
            <div class='col-md-3'>
              <input id="collectionCode" name="collectionCode" type="text" class="form-control" value="{{collectionCode}}" />
            </div>
            <div class='col-md-9'>
              <input id="catalogNumber" name="catalogNumber" type="text" class="form-control" value="{{catalogNumber}}" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="recordedBy">{{strings.recordedBy}} &amp; {{strings.recordNumber}}</label>
          <div class='row'>
            <div class='col-md-6'>
              <input id="recordedBy" name="recordedBy" type="text" class="form-control" value="{{recordedBy}}" />
            </div>
            <div class='col-md-6'>
              <input id="recordNumber" name="recordNumber" type="text" class="form-control" value="{{recordNumber}}" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="day">{{strings.day}}/{{strings.month}}/{{strings.year}}</label>
          <div class='row'>
            <div class='col-md-3'>
              <input id="day" name="day" type="ext" class="form-control" value="{{day}}" />
            </div>
            <div class='col-md-3'>
              <input id="month" name="month" type="text" class="form-control" value="{{month}}" />
            </div>
            <div class='col-md-5'>
              <input id="year" name="year" type="text" class="form-control" value="{{year}}" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="identifiedBy">{{strings.identifiedBy}}</label>
          <input id="identifiedBy" name="identifiedBy" type="text" class="form-control" value="{{identifiedBy}}" />
        </div>

        <div class="form-group">
          <label for="dateIdentified">{{strings.identification-date}}</label>
          <input id="dateIdentified" name="dateIdentified" type="text" class="form-control" value="{{dateIdentified}}" />
        </div>

        {{#analysis}}
        <div class='form-group'>
          <button class="btn btn-success" type='submit'>{{strings.save-analysis}}</button>
          {{#occurrenceID}}
          <button type='button' class="btn btn-danger delete" rel='{{occurrenceID}}' type='submit'>{{strings.delete}}</button>
          {{/occurrenceID}}
        </div>
        {{/analysis}}
      </div>

      <div class='col-md-3'>
        <div class="form-group">
          <label for="locality">{{strings.locality}}</label>
          <input id="locality" name="locality" type="text" class="form-control" value="{{locality}}" />
        </div>


        <div class="form-group">
          <label for="municipality">{{strings.municipality}}</label>
          <input id="municipality" name="municipality" type="text" class="form-control" value="{{municipality}}" />
        </div>

        <div class="form-group">
          <label for="stateProvince">{{strings.stateProvince}}</label>
          <input id="stateProvince" name="stateProvince" type="text" class="form-control" value="{{stateProvince}}" />
        </div>

        <div class="form-group">
          <label for="decimalLatitude">{{strings.latitude}} &amp; {{strings.longitude}}</label>
          <div class='row'>
            <div class='col-md-6'>
              <input name="decimalLatitude" value="{{decimalLatitude}}" class='form-control' type="text" />
            </div>
            <div class='col-md-6'>
              <input name="decimalLongitude" value="{{decimalLongitude}}" class='form-control' type="text" />
            </div>
          </div>
        </div>

        <div class='form-group'>
            <label for="coordinateUncertaintyInMeters">
              {{strings.coordinateUncertaintyInMeters}}
              &amp;
              {{strings.georeferenceProtocol}}
            </label>
            <div class='row'>
              <div class='col-md-6'>
                <input name="coordinateUncertaintyInMeters" value="{{coordinateUncertaintyInMeters}}" class='form-control' type="text" />
              </div>
              <div class="col-md-6">
                <input name="georeferenceProtocol" value="{{georeferenceProtocol}}" class='form-control' type="text" />
              </div>
            </div>
        </div>

      </div>

      <div class='col-md-4'>

        <div class="form-group">
            <label for="bibliographicCitation">{{strings.literature}}</label>
            <input name="bibliographicCitation" value="{{bibliographicCitation}}" class='form-control' type="text" />
        </div>

        <div class="form-group">
            <label for="comments">{{strings.comment-sig}}</label>
            <textarea name="comments" class='form-control' >{{georeferenceRemarks}}</textarea>
        </div>

        <div class="form-group">
            <label for="comments">{{strings.comment-analyst}}</label>
            <textarea name="comments" class='form-control'>{{comments}}</textarea>
        </div>

        <div class="form-group">
            <label for="remarks">{{strings.remarks}}</label>
            <textarea name="remarks" class='form-control'>{{remarks}}{{occurrenceRemarks}}</textarea>
        </div>

      </div>
