<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>{{strings.occurrences}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{{base}}/css/bootstrap.min.css" rel="stylesheet" >
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA8msc6c6CGR0yNwrxfHQQ8ejOMjDWfixw" type="text/javascript"></script>
    <link href="{{base}}/css/app.css" rel="stylesheet" >
    <script type="text/javascript">
      {{#logged}}
        var logged =true;
        var user = {{{user_json}}};
      {{/logged}}
      {{^logged}}
        var logged = false;
        var user =null;
      {{/logged}}
        var connect = '{{connect_url}}';
        var base = '{{base}}';
        var strings = {{{strings_json}}};
        var db = '{{db}}';
    </script>
    <script src="{{base}}/js/jquery.min.js"></script>
    <script src="{{base}}/js/bootstrap.min.js"></script>
    <script src="{{connect_url}}/js/connect.js"></script>
    <script src="{{base}}/js/app.js"></script>
</head>
<body>
    <div class="container">
        <header class='col-md-12'>
            <h1>{{strings.occurrences}}</h1>
            <p> <span class='glyphicon glyphicon-chevron-right'></span> {{strings.user}}:
                {{#logged}} {{user.name}} {{/logged}} {{^logged}} {{strings.none}} {{/logged}}.</p>
            {{#db}}
            <p><span class='glyphicon glyphicon-chevron-right'></span><span class='db'>{{strings.checklist}}: {{db_name}}</span>.</p>
            {{/db}}
        </header>
        <nav class="navbar navbar-default col-md-12">
            <ul class="nav navbar-nav">
                {{^logged}}
                <li id='login'><a href="#">{{strings.login}}</a></li>
                {{/logged}}
                {{#logged}}
                <li><a href="{{base}}/">{{strings.checklists}}</a></li>
                {{#db}}
                <li><a href="{{base}}/{{db}}/workflow">{{strings.summary}}</a></li>
                <li><a href="{{base}}/{{db}}/families">{{strings.families}}</a></li>
                {{#logged}}
                <li><a href="{{base}}/{{db}}/upload">{{strings.send-occurrences}}</a></li>
                {{/logged}}
                {{/db}}
                <li id='logout'><a href="#">{{strings.logout}}</a></li>
                {{/logged}}
            </ul>
        </nav>
