{{> header}}

<h3 class="col-md-12">
  <a href='{{base}}/family/{{specie.family}}'>
    {{specie.family}}
  </a>
</h3>
<h2 class='col-md-12'><i>{{specie.scientificNameWithoutAuthorship}}</i> {{ specie.scientificNameAuthorship }}</h2>

<div class="col-md-12">
    <p>
        {{#profiles_url}}
        <a href="{{profiles_url}}/{{db}}/specie/{{specie.scientificNameWithoutAuthorship}}" class='btn btn-default'>
            <span class='glyphicon glyphicon-leaf'></span>
            {{strings.profile}} <i>{{specie.scientificNameWithoutAuthorship}}</i>
        </a>
        {{/profiles_url}}
        {{#assessments_url}}
        <a href="{{assessments_url}}/{{db}}/specie/{{specie.scientificNameWithoutAuthorship}}" class='btn btn-default'>
            <span class='glyphicon glyphicon-record'></span>
            {{strings.assessment}} <i>{{specie.scientificNameWithoutAuthorship}}</i>
        </a>
        {{/assessments_url}}
    </p>
</div>

<div class="col-md-12">
    <h3>{{strings.results}}</h3>

    {{#stats}}
    <table class='table'>
        <thead>
            <tr>
                <th>{{strings.eoo}}</th>
                <th>{{strings.aoo}}</th>
                <th>{{strings.valid}}</th>
                <th>{{strings.invalid}}</th>
                <th>{{strings.reviewed}}</th>
                <th>{{strings.validated}}</th>
                <th>{{strings.not-reviewed}}</th>
                <th>{{strings.not-validated}}</th>
                <th>{{strings.total}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="eoo">{{eoo}}</td>
                <td id="aoo">{{aoo}}</td>
                <td id="valid">{{valid}}</td>
                <td id="invalid">{{invalid}}</td>
                <td id="reviewed">{{reviewed}}</td>
                <td id="validated">{{validated}}</td>
                <td id="not_reviewed">{{not_reviewed}}</td>
                <td id="not_validated">{{not_validated}}</td>
                <td id="total">{{total}}</td>
            </tr>
        </tbody>
    </table>
    {{/stats}}

    <a name="map"></a>
    <div id="map"></div>
    <script type="text/javascript">
      occurrences = {{{occurrences_json}}};
    </script>

    <div class="occurrences">
    {{#occurrences}}
        <a name="occ-{{occurrenceID}}-unit"></a>
        <div id="occ-{{occurrenceID}}-unit" class='col-md-12' >
            {{> unit}}
        </div>
    {{/occurrences}}
    </div>

</div>

<link rel="stylesheet" href="{{base}}/css/leaflet.css" />
<link rel="stylesheet" href="{{base}}/css/leaflet.draw.css" />
<link rel="stylesheet" href="{{base}}/css/MarkerCluster.css" />
<link rel="stylesheet" href="{{base}}/css/MarkerCluster.Default.css" />
<script type="text/javascript" src="{{base}}/js/leaflet.js"></script>
<script type="text/javascript" src="{{base}}/js/leaflet.markercluster.js"></script>
<script type="text/javascript" src="{{base}}/js/L.Control.MousePosition.js"></script>
<script type="text/javascript" src="{{base}}/js/leaflet.draw.js"></script>
<script type="text/javascript" src="{{base}}/js/leaflet.measurecontrol.js"></script>
<script type="text/javascript" src='{{base}}/js/proj4.js'></script>
<script type="text/javascript" src='{{base}}/js/map.js'></script>

{{> footer}}
