
<script type="text/javascript">
    var from = encodeURIComponent( 'http://'+location.host+'{{base}}/{{db}}/json?q='+encodeURIComponent('{{{query}}}') );
    var to = encodeURIComponent( 'http://'+location.host+'{{base}}/{{db}}/json?q='+encodeURIComponent('{{{query}}}') );
    var fields = 'occurrenceID,family,scientificName,scientificNameWithoutAuthorship,recordedBy:collector,recordNumber:collectorNumber,collectionCode:collection,catalogNumber,year,stateProvince:state,municipality:city,locality,remarks,comments,decimalLatitude:latitude,decimalLongitude:longitude,georeferenceVerificationStatus:geoStatus,georeferenceProtocol:geoProtocol,coordinateUncertaintyInMeters:geoPrecision';
    //var editor = '{{{editor}}}/index.html?from='+from+'&to='+to+"&fields="+fields;
    var editor = '{{base}}/recline/index.html?from='+from+'&to='+to+'&fields='+fields;
    location.href=editor;
</script>

