
<div class="occurrence {{^validation.done}} not-validated {{/validation.done}}
    {{#validation.done}} validated {{#valid}} valid {{/valid}} {{^valid}} invalid {{/valid}} {{/validation.done}}" >

    <div class='actions alabel'>
        {{^validation.done}}
            <span class='label label-warning label-valid'>
                <span class="glyphicon glyphicon-question-sign"></span>
                <span class='in-label'>
                  {{strings.missing-validation}}
                </span>
            </span>
        {{/validation.done}}

        {{#validation.done}}
            {{#valid}}
                <span class="label label-success label-valid">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    <span class='in-label'>
                      {{strings.valid}}
                    </span>
                </span>
            {{/valid}}
            {{^valid}}
                <span class="label label-danger label-valid">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                    <span class='in-label'>
                      {{strings.invalid}}
                    </span>
                </span>
            {{/valid}}
        {{/validation.done}}

        {{^georeferenceVerificationStatus}}
        <span  class='label label-warning'>
            <span class="glyphicon glyphicon-globe"></span>
            <span class='in-label'>
              {{strings.missing-sig}}
            </span>
        </span>
        {{/georeferenceVerificationStatus}}

        {{#georeferenceVerificationStatus}}
            {{#sig-ok}}
            <span class="label label-primary">
                <span class="glyphicon glyphicon-globe"></span>
                <span class='in-label'>
                  {{strings.verified}}
                </span>
            </span>
            {{/sig-ok}}
            {{^sig-ok}}
            <span class="label label-danger">
                <span class="glyphicon glyphicon-globe"></span>
                <span class='in-label'>
                  {{strings.verified-bad}}
                </span>
            </span>
            {{/sig-ok}}
        {{/georeferenceVerificationStatus}}
    </div>

    <div class="taxon col-md-12">
      <h4>Taxonomia reconhecida no sistema</h4>
      <p>{{specie.family}} <i>{{specie.scientificNameWithoutAuthorship}}</i> {{scpecie.scientificNameAuthorship}}</p>
      <h4>Taxonomia original do registro</h4>
      <p>
        {{#family}}
        <strong>{{strings.family}}</strong>:{{family}}; <br />
        {{/family}}
        {{#genus}}
        <strong>{{strings.genus}}</strong>:{{genus}}; <br />
        {{/genus}}
        {{#specificEpithet}}
        <strong>{{strings.specificEpithet}}</strong>:{{specificEpithet}}; <br />
        {{/specificEpithet}}
        {{#scientificName}}
        <strong>{{strings.scientificName}}</strong>:{{scientificName}}; <br />
        {{/scientificName}}
        {{#scientificNameWithoutAuthorship}}
        <strong>{{strings.scientificNameWithoutAuthorship}}</strong>:{{scientificNameWithoutAuthorship}}; <br />
        {{/scientificNameWithoutAuthorship}}
        {{#acceptedNameUsage}}
        <strong>{{strings.acceptedNameUsage}}</strong>:{{acceptedNameUsage}}; <br />
        {{/acceptedNameUsage}}
      </p>
    </div>
    <div class="data col-md-12">
      {{> form-analysis}}
    </div>

    <div class='validation col-md-5'>
      {{> form-validation}}
    </div>

    <div class="sig col-md-4">
      {{> form-sig}}
    </div>

    <div class="metadata col-md-3">
      <h4>Metadata</h4>
      {{#metadata}}
      <p><strong>{{strings.identifier}}</strong>:<Br />{{occurrenceID}}</p>
      <p><strong>{{strings.creator}}</strong>:<Br>{{creator}}</p>
      <p><strong>{{strings.contributor}}</strong>:<br />{{contributor}}</p>
      <p><strong>{{strings.contact}}</strong>:<br />{{contact}}</p>
      <p><strong>{{strings.created}}</strong>:<br />{{created_date}}</p>
      <p><strong>{{strings.modified}}</strong>:<br />{{modified_date}}</p>
      <p><strong>{{strings.status}}</strong>:<br />{{status}}</p>
      {{/metadata}}
    </div>

</div>

