{{> header}}

{{#has_errors}}
<div class='col-md-12'>
    <h3>{{strings.errors}}</h3>
    <ul>
        {{#errors}}
        <li>{{.}}</li>
        {{/errors}}
    </ul>
</div>
{{/has_errors}}

<form action="{{base}}/{{db}}/upload" method='POST' enctype="multipart/form-data" class='col-md-12'>
    <fieldset>
        <legend>{{strings.upload-file}}:</legend>
        <p class='col-md-8'>
            <strong>{{strings.templates}}</strong>: 
            <a href='{{base}}/templates/occurrences.xlsx'>occurrences.xlsx</a>; 
            <a href='{{base}}/templates/occurrences.csv'>occurrences.csv</a>; 
        </p>
        <div class="form-group col-md-6">
          <div class='input-group'>
            <div class='input-group-addon'>
              <select id="type" name="type" class="">
                <option value="xlsx">XLSX</option>
                <option value="csv">CSV</option>
                <!--
                    <option value="kml">KML</option>
                    <option value="json">JSON</option>
                    <option value="geojson">GEOJSON</option>
                    <option value="dwca">DWC-A</option>
                    -->
              </select>
            </div>
            <input class='form-control' id="file" name="file" type="file" />
            <div class="input-group-btn">
              <button class="btn btn-success">{{strings.send}}</button>
            </div>
          </div>
        </div>
    </fieldset>
</form>

{{#uploaded}}

<h2>{{strings.upload-result}}</h2>
  <a name="map"></a>

  <div class='col-md-12'>
    <div id="map" class='simple'></div>
  </div>

  <script type="text/javascript">
    occurrences = {{{occurrences_json}}};
  </script>

  <div class="occurrences">
  {{#occurrences}}
      <a name="occ-{{occurrenceID}}-unit"></a>
      <div id="occ-{{occurrenceID}}-unit" class='col-md-12' >
        <div class="occurrence not-validated">

        <div class='actions alabel'>
            {{^specie}}
              <span class='label label-danger'>
                  <span class="glyphicon glyphicon-question-sign"></span>
                  {{strings.missing-taxon}}
              </span>
            {{/specie}}
        </div>

        <div class="taxon col-md-12">
          <h4>OccurrenceID: {{occurrenceID}}</h4>
          <h4>{{strings.system-taxon}}</h4>
            {{#specie}}
              <p>{{specie.family}} <i>{{specie.scientificNameWithoutAuthorship}}</i> {{scpecie.scientificNameAuthorship}}</p>
            {{/specie}}
            {{^specie}}
            <p>N/A</p>
            {{/specie}}
          <h4>{{strings.original-taxon}}</h4>
          <p>
            {{#family}}
            <strong>{{strings.family}}</strong>:{{family}}; <br />
            {{/family}}
            {{#genus}}
            <strong>{{strings.genus}}</strong>:{{genus}}; <br />
            {{/genus}}
            {{#specificEpithet}}
            <strong>{{strings.specificEpithet}}</strong>:{{specificEpithet}}; <br />
            {{/specificEpithet}}
            {{#scientificName}}
            <strong>{{strings.scientificName}}</strong>:{{scientificName}}; <br />
            {{/scientificName}}
            {{#scientificNameWithoutAuthorship}}
            <strong>{{strings.scientificNameWithoutAuthorship}}</strong>:{{scientificNameWithoutAuthorship}}; <br />
            {{/scientificNameWithoutAuthorship}}
            {{#acceptedNameUsage}}
            <strong>{{strings.acceptedNameUsage}}</strong>:{{acceptedNameUsage}}; <br />
            {{/acceptedNameUsage}}
          </p>
        </div>

        <div class="data col-md-12">
          {{> form-analysis}}
        </div>
      </div>
      </div>
  {{/occurrences}}
  </div>

  <link rel="stylesheet" href="{{base}}/css/leaflet.css" />
  <link rel="stylesheet" href="{{base}}/css/leaflet.draw.css" />
  <link rel="stylesheet" href="{{base}}/css/leaflet.table.css" />
  <link rel="stylesheet" href="{{base}}/css/MarkerCluster.css" />
  <link rel="stylesheet" href="{{base}}/css/MarkerCluster.Default.css" />
  <script type="text/javascript" src="{{base}}/js/leaflet.js"></script>
  <script type="text/javascript" src="{{base}}/js/leaflet.markercluster.js"></script>
  <script type="text/javascript" src="{{base}}/js/L.Control.MousePosition.js"></script>
  <script type="text/javascript" src="{{base}}/js/leaflet.draw.js"></script>
  <script type="text/javascript" src="{{base}}/js/leaflet.measurecontrol.js"></script>
  <script type="text/javascript" src="{{base}}/js/leaflet.table.js"></script>
  <script type="text/javascript" src='{{base}}/js/proj4.js'></script>
  <script type="text/javascript" src='{{base}}/js/map.js'></script>

  <form action="{{base}}/{{db}}/upload/insert" class='insert col-md-11' method='POST'>
    <textarea name="json" style='display: none' >{{{occurrences_json}}}</textarea>
    <p>{{strings.upload-warn}}</p>
    <button class="btn btn-success col-md-12" type='submit'>{{strings.insert-all}}</button>
  </form>
{{/uploaded}}

{{#inserted}}
<div class="col-md-12">
  <h3>{{strings.inserted}}</h3>
  <ul>
    {{#names}}
      <li><a href="{{Base}}/{{db}}/specie/{{name}}">{{name}}</a> ({{count}})</li>
    {{/names}}
  </ul>
</div>
{{/inserted}}

{{> footer}}

